/* Imports */
@import url("main.css");
@import url("user.css");

/* --------------------------------------------------------------
    # Admin css
-----------------------------------------------------------------*/

.nav--search-input {
  width: 50rem;
}

.msg .nav--icon {
  fill: var(--status-pending);
}

.nav--icon{
  fill: var(--primary-color);
}

.search--button:active {
  background-color: var(--text-color);
  box-shadow: -0.1rem 0.1rem 0.6rem rgba(2, 2, 2, 0.3);
  z-index: 1;
}

.th,
.td {
  width: 18%;
}

.th:first-child,
.td:first-child {
  width: 5%;
  margin-left: 3.5rem;
}

.content{
  width: 75%;
}

.side--nav{
  align-self: flex-start;
  width : 20rem;
  margin-top: 4rem;
}

.link--group h4{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.8rem;
  margin: .8rem 0;
}

hr{
  margin-right: 5rem;
  margin-top: 2rem;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

.links > div{
  padding: .5rem;
}

.links .nav--link{
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.badge{
  box-shadow: -0.1rem 0.1rem 0.6rem rgba(2, 2, 2, 0.3);
}

.container--details{
  justify-content: flex-start;
}

.description{
  justify-content: space-between;
  font-size: 1.5rem;
  line-height: 3rem;
  width: 62%;
}

.description > div{
  margin: 1rem;
}

.description > div h5{
  color: rgba(0, 0, 0, 0.5);
}

.submit--button{
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  width: auto;
  
}

.button--group{
  justify-content: space-between;
}

.status--delete{
  background-color: rgba(0, 0, 0, 0.5);
}

.details{
  font-size: 1.3rem;
  justify-content: space-between;
}

.details div > p{
  padding: .2rem 0;
}