/* Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    font-family: "Lato", sans-serif;
  }

  /* Variables */
:root{
  --primary-color: #171823;
  --button-blue: #0d47a1;
}

  /* Animations */


  /* Components */