/* Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    font-family: "Lato", sans-serif;
    background-color: #171823;
  }

  /* Variables */

  

  /* Animations */



  /* Components */