@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url('https://fonts.googleapis.com/css?family=Squada+One');


/* ---------------------------------
  Resets
------------------------------------ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}


/* ---------------------------------
  Variables
------------------------------------ */

:root {
  /* --primary-color: #E65100; */
  --primary-color: #673ab7;
  --secondary-color: #ede7f6;
  --button-blue: #0d47a1;
  --text-color: #fff;

  --status-approved: #2196f3;
  --status-rejected: #f44336;
  --status-pending: #ff9800;
  --status-resolved: #8bc34a;
}

/* ---------------------------------
  Components
------------------------------------ */
/* flex */
.flex {
  display: flex;
  justify-content: center;
}

.flex--column{
  display: flex;
  flex-direction: column;
}


/* card */

.card {
  background-color: var(--text-color);
  box-shadow: -0.1rem 0.1rem 0.6rem rgba(2, 2, 2, 0.3);
  z-index: 1;
  margin: 1.5rem 2rem;
  padding: 2rem;
}



/* Badge and Status */

.badge {
  border-radius: 6rem;
  padding: 0.8rem;
  margin: 0.3rem;
  max-height: 3rem;
  min-width: 7rem;
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
}

.status--pending {
  background-color: var(--status-pending);
}
.status--approved {
  background-color: var(--status-approved);
}
.status--rejected {
  background-color: var(--status-rejected);
}
.status--resolved {
  background-color: var(--status-resolved);
}

.stats{
  justify-content: flex-end;
  flex-flow: wrap;
}



/* Table */

.table {
  flex-direction: column;
}

.table--row {
  display: flex;
  justify-content: right;
  font-size: 1.5rem;
  padding: 2rem 5rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.table--row:nth-child(even) {
  background-color: whitesmoke;
}

.t-header {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
  border-bottom: solid 1px;
}

.th,
.td {
  width: 20%;
}

.th:first-child,
.td:first-child {
  width: 30%;
  margin-left: 3.5rem;
}



/* nav */

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: var(--text-color);
  margin: 1rem;
}

.nav--search-input {
  background-color: var(--text-color);
  font: 16px "Open Sans","sans-serif";

  border-radius: 1.5rem;
  height: 3rem;
  width: 30rem;
  padding: 0 1.8rem;
}

.search--button {
  background-color: inherit;
  border-style: none;
}

.nav--icon {
  height: 2rem;
  width: 3.5rem;
  fill: var(--text-color);
}

.nav--icon-primary {
  height: 2rem;
  width: 3.5rem;
  fill: var(--primary-color);
}

.nav--link{
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.5rem;
}

.nav--brand{
  font-family: "Squad One", sans-serif;
  font-size: 3rem;
}

.dropdown{
  display: flex;
  flex-direction: column;
}

.dropdown a:hover{
  color: var(--status-pending);
}

.dropdown--links{
  display: none;
  min-width: 160px;
  position: absolute;
  margin: 2rem 2rem;
  padding: 1rem;
}

.dropdown--links .nav--link{
  color: var(--primary-color);
}

.dropdown:hover .dropdown--links{
  display: block;
}


/* footer */

footer {
  background-color: inherit;
  width: 100%;
}

footer .nav {
  margin: 1rem 0;
  color: var(--primary-color);
}