@import url("main.css");

/* --------------------------------------------------------------
    # User account css
-----------------------------------------------------------------*/

.container {
  display: flex;
  flex-direction: column;
  z-index: -2;
  background-color: var(--secondary-color);
}

.container--item {
  margin: 1rem 0;
}

.flex {
  display: flex;
  justify-content: center;
}

header {
  height: 8rem;
  box-shadow: 0rem 0.1rem 1rem rgba(0, 0, 0, 0.7);
  background-color: var(--primary-color);
}

.main {
  width: 100%;
}

.content {
  flex-direction: column;
  width: 80%;
}

.title{
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 3rem;
  
}

.stats{
  justify-content: flex-end;
  flex-flow: wrap;
}

footer {
  background-color: inherit;
  width: 100%;
}

footer .nav {
  margin: rem 0;
  color: var(--primary-color);
}
