@import url("main.css");

/* --------------------------------------------------------------
    # User account css
-----------------------------------------------------------------*/
body{
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

header {
  margin: 2rem;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
}

.nav--search-input {
  background-color: #fff;
  border-radius: 1.5rem;
  height: 3rem;
  width: 30rem;
  padding: 0 1.8rem;
}

.nav--search button {
  background-color: inherit;
  border-style: none;
}

.nav--icon {
  height: 2rem;
  width: 3.5rem;
  fill: #fff;
}

.flex{
  display: flex;
  justify-content: center;
}

.content{
    background-color: #fff;
    height: 100%;
}

footer {
  background-color: inherit;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer .nav{
  margin: 1.5rem 0; 
}

.contact--item{
  margin: 0.5rem 0;
}
